<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743656679439-kt3e5c0itlpvkb7o5dbes9hp38ealbe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743656679439-kt3e5c0itlpvkb7o5dbes9hp38ealbe8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743656679439-5efvq7jrs7m39sb84r2jnv2e73iqcko7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXWrDFWUzSVHKFw_i4DZA8sz5KmB9GbCI</string>
	<key>GCM_SENDER_ID</key>
	<string>743656679439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.BebeMaman</string>
	<key>PROJECT_ID</key>
	<string>bebemaman-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>bebemaman-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743656679439:ios:b6d73096340372e6801b7a</string>
</dict>
</plist>